*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    background-color: #111;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.logo{
    position: fixed;
    left: 20px;
    width: 70px;
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}